.root {
	    /*default font */
	    -fx-font-family: 'Helvetica Neue';
	    -fx-font-size: 12.0px;
	    -fx-font-weight: 600;
}
/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/
.label {
	    -fx-font-size: 14.0px;
	    -fx-font-family: 'Helvetica Neue';
	    -fx-font-weight:bold;
}
/*
.label:hover{
		-fx-background-color:derive(#4CAF50,10.0%);
}
.label:focused,
.label:default:focused{
		-fx-background-color: derive(#4CAF50,30.0%);
}
*/

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button{
	    -fx-background-insets:  0.0;
	    -fx-background-radius: 2.0;
	    -fx-font-size: 14.0px;
	    -fx-font-weight: bold;
	    -fx-font-family: 'Helvetica Neue';
	    -fx-alignment: CENTER;
}
.button:hover{
		-fx-background-color:derive(#4CAF50,10.0%);
}
.button:focused,
.button:default:focused {
       -fx-background-color: derive(#4CAF50,30.0%);
}
/*******************************************************************************
 *                                                                             *
 * TextField                      				                               *
 *                                                                             *
 ******************************************************************************/
 
/*******************************************************************************
 *                                                                             *
 * ScrollBar 			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:vertical > .track-background,
.scroll-bar:horizontal > .track-background{
    	-fx-background-color:#ffffff;
}

.scroll-bar:vertical > .thumb,
.scroll-bar:horizontal > .thumb {
	    -fx-background-color: derive(#4CAF50,5.0%);
	    -fx-background-insets: 0.0;
	    -fx-background-radius: 0.0;
}

.scroll-bar:hover > .increment-button, 
.scroll-bar:hover > .decrement-button {
     	-fx-background-color: derive(#4CAF50,30.0%);
}
  
/*******************************************************************************
 *                                                                             *
 * Tab									                                       *
 *                                                                             *
 ******************************************************************************/

.tab{
 	-fx-text-fill-color:black;
 	-fx-border-radius: 10.0;
 	-fx-spacing: 5.0;
 }

.tab-header-background{
		-fx-background-color:derive(#4CAF50,20.0%);
}
 
.tab:hover{
 -fx-background-color:derive(#4CAF50,10.0%);
 
}
.tab:focused,
.tab:default:focused{
 	-fx-background-color:derive(#4CAF50,30.0%);
}

 
 
 
 
 
 
 
 
 
 
 
 
