.root {
	    /*default font */
	    -fx-font-family: 'Helvetica Neue';
	    -fx-font-size: 12.0px;
	    -fx-font-weight: 600;
}
/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/
.label {
	    -fx-font-size: 14.0px;
	    -fx-font-family: 'Helvetica Neue';
	    -fx-font-weight:bold;
}
/*
.label:hover{
		-fx-background-color:derive(#4CAF50,10.0%);
}
.label:focused,
.label:default:focused{
		-fx-background-color: derive(#4CAF50,30.0%);
}
*/

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button{
	    -fx-background-insets:  0.0;
	    -fx-background-radius: 2.0;
	    -fx-font-size: 14.0px;
	    -fx-font-weight: bold;
	    -fx-font-family: 'Helvetica Neue';
	    -fx-alignment: CENTER;
}
.button:hover{
		-fx-background-color:derive(#4CAF50,10.0%);
}
.buttonType:RAISED,
.button:focused,
.button:default:focused {
       -fx-background-color: derive(#4CAF50,30.0%);
}
/*******************************************************************************
 *                                                                             *
 * TextField                      				                               *
 *                                                                             *
 ******************************************************************************/
 
/*******************************************************************************
 *                                                                             *
 * ScrollBar 			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:vertical > .track-background,
.scroll-bar:horizontal > .track-background{
    	-fx-background-color:#ffffff;
}

.scroll-bar:vertical > .thumb,
.scroll-bar:horizontal > .thumb {
	    -fx-background-color: derive(#4CAF50,5.0%);
	    -fx-background-insets: 0.0;
	    -fx-background-radius: 0.0;
}

.scroll-bar:hover > .increment-button, 
.scroll-bar:hover > .decrement-button {
     	-fx-background-color: derive(#4CAF50,30.0%);
}
  
/*******************************************************************************
 *                                                                             *
 * Tab									                                       *
 *                                                                             *
 ******************************************************************************/

.tab{
 	-fx-text-fill-color:black;
 	-fx-border-radius: 10.0;
 	-fx-spacing: 5.0;
 }

.tab-header-background{
		-fx-background-color:derive(#4CAF50,20.0%);
}
 
.tab:hover{
 -fx-background-color:derive(#4CAF50,10.0%);
 
}
.tab:focused,
.tab:default:focused{
 	-fx-background-color:derive(#4CAF50,30.0%);
}


/**************************************************************
*                                                             *
* Tree Table View                                             *
*                                                             *  
***************************************************************/


.tree-table-view{
    
    -fx-tree-table-color: rgba(0, 150, 0, 0.8); 
    -fx-tree-table-rippler-color: rgba(255, 0, 0, 0.9);
}

.tree-table-view:focused .tree-table-row-cell:selected{
    -fx-background-color: -fx-tree-table-color;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler{
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header,
.tree-table-view .column-header-background,
.tree-table-view ,column-header-background .filler{
    -fx-background-color: transparent;
}

.tree-table-view .column-header{
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label{
    -fx--text-fill: #949494;
    -fx-padding: 16 0 16 0;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{
    -fx-background-color: #949494;
}

.tree-table-view .column-header:last-visible{
    -fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background{
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;    
}

.tree-table-view  .tree-table-cell{
     -fx-border-width: 0 0 0 0;
     -fx-padding: 16 0 16 0;
}

.tree-table-view .column-overlay{
    -fx-backgound-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused{
    -fx-background-color: -fx-tree-table-color, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1;
}

.tree-table--row-cell > .tree-disclosure-node > .arrow{
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em;
}

.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: rgba(240, 40, 40);
}


.jfx-list-cell:selected{
    -fx-background-color: derive(#4CAF50,10%);
}

.jfx-list-cell{
    -fx-background-insets: 0.0;
}

.jfx-list-cell .jfx-rippler{
    -fx-rippler-fill: derive(#4CAF50,30%);
}

.jfx-list-cell:hover{
    -fx-background-color: #4CAF50;
}

.jfx-list-view {
    -fx-vertical-gap: 50;
    -fx-background-insets: 0;
}

.jfx-tab-pane {
    -fx-padding: 0 0 10 0;
}